/xampp/mysql/data/ib_logfile0
/xampp/mysql/data/ib_logfile1
/xampp/mysql/data/mysql_error.log
/xampp/mysql/data/mysql.pid
/xampp/mysql/data/ibtmp1

/xampp/apache/logs/error.log
/xampp/apache/logs/access.log
/xampp/apache/logs/error.log
/xampp/apache/logs/httpd.pid
/xampp/apache/logs/access.log
/xampp/apache/logs/error.log
/xampp/apache/logs/access.log
/xampp/apache/logs/error.log
/xampp/apache/logs/httpd.pid
/xampp/apache/logs/ssl_request.log

/xampp/php/php_error.log

/xampp/xampp-control.log

/xampp/wget
/xampp/tmp

# git rm --cached xampp/mysql/data/ib_logfile0
# git rm --cached xampp/mysql/data/ib_logfile1
# git rm --cached xampp/mysql/data/mysql_error.log
# git rm --cached xampp/mysql/data/mysql.pid
# git rm -r --cached xampp/apache/logs
# git rm -r --cached xampp/xampp-control.ini
# git commit -m "Remove ignored files from index"

/htdocs/webroot.zip

/htdocs/api/tools
/htdocs/api/autotask
/htdocs/api/download
/htdocs/api/aipptx/cache
/htdocs/api/aipptx/output
/htdocs/api/download/DandianDataCenter.apk

/htdocs/.next
/htdocs/node_modules
/htdocs/webroot
/htdocs/api/aipptx/json
/htdocs/api/aipptx/templates

/htdocs/go-view/dist
/htdocs/go-view/node_modules
